*{
    margin: 0;
    font-family: 'Montserrat';
    --content-height: 100vh;
    --card-border-radius: 5px;
}

.main{
    margin: 0;
    /* background-color: whitesmoke; */
    background-image: url("../resources/backgrounds/bg2.png");
    background-repeat: repeat;
    background-size: 21%;
    height: var(--content-height);
    max-height: var(--content-height);
    position:fixed;
    width: 100%;
}

.content1 { 
    grid-area: content1; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
    margin: 30px;
}

.content1 .cards {
    width: 87%;
}

.content1 .cards .card{
    background-color: whitesmoke;
    height: 90%;
    border: none;
}

.content1 .cards .card >img{
    height: 80%;
}

.content1 .cards .card .card-body{
    height: 110px;
    font-size: 12px;
    text-align: left;
}

.content1 .cards .card .card-body .btn{
    border: 1px solid #003566;
    height: 25px;
    display: flex;
    align-items: center;
    display: none;
}

.content1 .cards .card .card-body .btn:hover{
    color: whitesmoke;
    background-color: #003566;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'sidenav content1 content1 content1 content1 content1 content1 content1'
        'sidenav content1 content1 content1 content1 content1 content1 content1'
        'sidenav content1 content1 content1 content1 content1 content1 content1'
        'sidenav content1 content1 content1 content1 content1 content1 content1';
}
  
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* Pandora's logo */
.logo img{
    width: 150px;
    height: auto;
}

.sidenav {
    grid-area: sidenav; 
    /* background-color: #d62828; */
    background-color: #003566;
    /* background: -webkit-linear-gradient(bottom, red, #003566); */
    height: var(--content-height);
    width: 32vh; 
    /* position: fixed; */
}

/* hr(line) configuration */
.sidenav-content > hr{
    width: 70%;
    margin: auto;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* sidenav top (below logo) */

.home, .movies, .series, .favourite{
    display: flex;
}

.home:hover, .movies:hover, .series:hover, .favourite:hover{
    cursor: pointer;
}

.home > img, .movies >img, .series >img, .favourite >img{
    width: 30px;
    margin-right: 20px;
}

.active1{
    grid-area: active1;
}

.active2{
    grid-area: active2;
}

.active3{
    grid-area: active3;
}

.active4{
    grid-area: active4;
}

.home{
    grid-area: home;
}

.movies{
    grid-area: movies;
}

.series{
    grid-area: series;
}

.favourite{
    grid-area: favourite;
}

/* sidenav content top */
.sidenav-content-top{
    display: grid;
    grid-template-areas: 
        'active1 home'
        'active2 movies'
        'active3 series'
        'active4 favourite';
    text-align: left;
    /* padding-left: 45px;
    padding-right: 45px; */
}

.active1, .active2, .active3, .active4{
    width: 10px;
}

.active3{
    background-color: whitesmoke;
    height: 50%;
    align-self: center;
}

.home, .movies, .series, .favourite{
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px
}

/* sidenav middle */
.sidenav-middle-header{
    grid-area: sidenav-middle-header;
}

.sidenav-middle-header > h5{
    padding-top: 20px;
    color: whitesmoke;
}

.account-logo{
    grid-area: account-logo;
}

.account-logo > img{
    width: 30px;
}

.account-text{
    grid-area: account-text;
}

.sidenav-content-middle{
    display: grid;
    grid-template: 
    'sidenav-middle-header sidenav-middle-header sidenav-middle-header'
    'account-logo account-text account-text';
    text-align: left;
    padding-left: 45px;
    gap: 5px;
}

/* sidenav bottom */
.sidenav-content-bottom{
    margin-top: 260px;
    margin-left: 30px;
    margin-right: 30px;
}

.logout{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.logout:hover{
    cursor: pointer;
    background-color: aqua;
}

.logout >img{
    width: 30px;
    margin-right: 20px;
}